@model IEnumerable<TiendaRepuestosAuto_BD1_WEB.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm("Index", "Personas", FormMethod.Get))
    {
        <style>
            label {
                text-align: left;
                width: 100px;
                display: block;
                float: left;
                clear: right;
                font-size: 18;
            }

        </style>

        <b>Buscar personas</b><br /><br />
        <label for="Nombre"> Nombre: </label>
        <input type="text" id="Nombre" name="Nombre"><br>
        <label for="Cedula"> Cedula: </label>
        <input type="number" id="Cedula" name="Cedula"><br>
        <input type="submit" value="Buscar">
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Cedula")
        </th>
        <th>
            @Html.DisplayName("Nombre Completo")
        </th>
        <th>
            @Html.DisplayName("Ciudad")
        </th>
        <th>
            @Html.DisplayName("Dirección")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th></th>
        <th>@Html.DisplayName("Opciones")</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.EstadoDeCliente.Tipo)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.Cedula })       |
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.Cedula })       |
        </td>
        <td>
            @Html.ActionLink("Suspender", "suspenderPersona", new { id = item.Cedula })
        </td>
    </tr>
}

</table>
