@model TiendaRepuestosAuto_BD1_WEB.Models.Organizacion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Organizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cedula Juridica")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedulaJuridica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Direccion)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.EstadoDeCliente.Tipo)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <h4>Contacto</h4>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Contacto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.Cargo)
        </dd>

        <dt>
            @Html.DisplayName("Telefono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.Telefono)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.CedulaJuridica }) |
    @Html.ActionLink("Regresar a lista", "Index")
</p>
