@model TiendaRepuestosAuto_BD1_WEB.Models.DataBaseModelForApp.OrdenModel

@{
    ViewBag.Title = "Details";
}

<h2>Información</h2>

<div>
    <h4>Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Identificador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayName("Cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDeCliente)
        </dd>

        <dt>
            @Html.DisplayName("Monto de Venta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoVenta)
        </dd>

        <dt>
            @Html.DisplayName("Monto de IVA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoIVA)
        </dd>

        <dt>
            @Html.DisplayName("Monto total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoTotal)
        </dd>
    </dl>

    <hr />
    <h4>Detalles</h4>

    <p>
        @Html.ActionLink("Agregar Detalle", "Create", new { controller = "Detalles", id = Model.ID_Orden })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Parte")
            </th>
            <th>
                @Html.DisplayName("Proveedor")
            </th>
            <th>
                @Html.DisplayName("Cantidad")
            </th>
        </tr>

        @foreach (var item in Model.detalles)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Parte.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Regresar a lista", "Index")
</p>
