@model TiendaRepuestosAuto_BD1_WEB.Models.Parte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FabricanteDePiezas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricanteDePiezas.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Parte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
