@model TiendaRepuestosAuto_BD1_WEB.Models.DataBaseModelForApp.ParteModelo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parte</h4>
    <hr />
    @Html.HiddenFor(model => model.ID_Parte)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayName("Fabricante")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricanteDePiezas.Nombre)
        </dd>

    </dl>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Modelo")
            </th>
            <th>
                @Html.DisplayName("Año")
            </th>
            <th>
                @Html.DisplayName("Detalle")
            </th>
            <th>
                @Html.DisplayName("Fabricante")
            </th>
        </tr>

        @foreach (var item in Model.tiposDeAuto)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FabricanteDeAutos.Nombre)
                </td>
            </tr>
        }

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Parte }) |
        </p>
    </table>

</div>
