@model IEnumerable<TiendaRepuestosAuto_BD1_WEB.Models.Parte>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm("Index", "Partes", FormMethod.Get))
    {
        <style>
            label {
                text-align: left;
                width: 100px;
                display: block;
                float: left;
                clear: right;
                font-size: 18;
            }
        </style>

        <b>Buscar parte</b><br /><br />
        <label for="NombreParte"> Parte: </label>
        <input type="text" id="NombreParte" name="NombreParte"><br>
        <input type="submit" value="Buscar">
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Fabricante")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FabricanteDePiezas.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Parte }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_Parte }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_Parte }) |
            @Html.ActionLink("Asociar con Tipo De Automovil", "AsociarConTipoDeAutomovil", new { id = item.ID_Parte })
        </td>
    </tr>
}

</table>
